.quiz-holder{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin :1% auto 1% auto;
}
.options-body > .sdsd{
    background-color: #f0e6ee;
    width: 100%;
    margin :1.5% auto 1% auto;
    /* border-radius: 15px; */
    color: black;
    padding: 0.5%;

}

.sdsd > p{
    margin-top: 0;
    margin-bottom: 0;
}

h5{
    color: #6902ff;
}


/* .quiz-holder-head{
    background-color: #f70799b8 !important ;
} */

.options-body > .sdsd:hover{
    background-color: #1da1f2;

}

.selected-answer{
    background-color: #e340e1 !important;
}

.card-footer > .btn{
    margin: 1%;
}

.quiz-header-card{
    display: flex;
    justify-content: space-between;
    /* margin :2% auto 2% auto; */
}

.quiz-header-card > #count{
    font-size: x-large;
}

.quiz-header{
    width: 80%;
    margin :2% auto 2% auto;
}
.quiz-header > .card{
   background: #00f161;
}

.sidebar-highlight{
    background-color: lightseagreen;
    
}

.sidebar{
    overflow: scroll;
    overflow-x: hidden;
    
height: 200px;
}

.sidebar-normal{
    background-color: #f0e6ee;
    box-shadow: 0 0 1px 0 black;
}

.sidebar-highlight-wrong{
    background-color: #e24444;
}

.sidebar-highlight-answer{
    background-color: #17c817;
}

.current{
    background-color: #f94cb5;
    box-shadow: 0 0 3px 1px rgb(102, 101, 101);
}

.tile:hover{
    cursor: pointer;
}

