.result-container > .card{
    margin: 1% auto 0% auto;
    font-size: small;
    box-shadow: 0 0 3px 0 #131212bd;
}

.correct{
    color: black;
    background-color: #17c817;
}

.wrong{

    color: black;
    background-color:rgb(226, 68, 68);
}

.other{

    color: black;
    background-color: rgb(240, 230, 238);
}

.result-option{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
#op{
    margin: 1% auto 1% 1%;     
}
#mark{
    margin: 1% 1% 1% 0%;
}
#opt{
    margin: 0px auto 0px 1%;
}

.result-header{
    display: flex;
justify-content: space-between;
align-items: baseline;
width: 80%;
margin: 0% auto 0% auto;
}